## This file is a general .ucf for the Nexys4 DDR Rev C board
## To use it in a project:
## - uncomment the lines corresponding to used pins
## - rename the used signals according to the project

## Switches
NET "swt<0>"         LOC="J15" | IOSTANDARD="LVCMOS33"; #IO_L24N_T3_RS0_15
NET "swt<1>"         LOC="L16" | IOSTANDARD="LVCMOS33"; #IO_L3N_T0_DQS_EMCCLK_14
NET "swt<2>"         LOC="M13" | IOSTANDARD="LVCMOS33"; #IO_L6N_T0_D08_VREF_14
NET "swt<3>"         LOC="R15" | IOSTANDARD="LVCMOS33"; #IO_L13N_T2_MRCC_14

## 7 segment display
NET "ssg<0>"         LOC="T10" | IOSTANDARD="LVCMOS33"; #IO_L24N_T3_A00_D16_14
NET "ssg<1>"         LOC="R10" | IOSTANDARD="LVCMOS33"; #IO_25_14
NET "ssg<2>"         LOC="K16" | IOSTANDARD="LVCMOS33"; #IO_25_15
NET "ssg<3>"         LOC="K13" | IOSTANDARD="LVCMOS33"; #IO_L17P_T2_A26_15
NET "ssg<4>"         LOC="P15" | IOSTANDARD="LVCMOS33"; #IO_L13P_T2_MRCC_14
NET "ssg<5>"         LOC="T11" | IOSTANDARD="LVCMOS33"; #IO_L19P_T3_A10_D26_14
NET "ssg<6>"         LOC="L18" | IOSTANDARD="LVCMOS33"; #IO_L4P_T0_D04_14
NET "ssg<7>"         LOC="H15" | IOSTANDARD="LVCMOS33"; #IO_L19N_T3_A21_VREF_15

NET "an<0>"          LOC="J17" | IOSTANDARD="LVCMOS33"; #IO_L23P_T3_FOE_B_15
NET "an<1>"          LOC="J18" | IOSTANDARD="LVCMOS33"; #IO_L23N_T3_FWE_B_15
NET "an<2>"          LOC="T9" | IOSTANDARD="LVCMOS33"; #IO_L24P_T3_A01_D17_14
NET "an<3>"          LOC="J14" | IOSTANDARD="LVCMOS33"; #IO_L19P_T3_A22_15
NET "an<4>"          LOC="P14" | IOSTANDARD="LVCMOS33"; #IO_L8N_T1_D12_14
NET "an<5>"          LOC="T14" | IOSTANDARD="LVCMOS33"; #IO_L14P_T2_SRCC_14
NET "an<6>"          LOC="K2" | IOSTANDARD="LVCMOS33"; #IO_L23P_T3_35
NET "an<7>"          LOC="U13" | IOSTANDARD="LVCMOS33"; #IO_L23N_T3_A02_D18_14

